<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-left">Mis Gastos</h1>

      <% @gastos.each do |gasto| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Monto: $<%= gasto.monto %></h5>
            <p class="card-text">
              <strong>Descripción:</strong> <%= gasto.descripcion %><br>
              <strong>Fecha:</strong> <%= gasto.fecha %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @gastos.empty? %>
        <p class="text-center">No tienes gastos registrados.</p>
      <% end %>

      <div class="text-left">
        <%= link_to 'Volver', index_home_path, class: 'btn btn-dark btn-sm' %>
      </div>
    </div>
  </div>
</div>

