<body>
  <div class="center">
    <h1>Bienvenidos a FairShare</h1>
  </div>

  <div class="dashboard-container">
    <%= link_to 'Crear un Nuevo Grupo', new_grupo_path %>
    <%= link_to 'Mis Grupos', grupos_path %>
  </div>

  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js' %>
</body>
</html>
