.navbar {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.dashboard-container a {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #343a40;
}

.dropdown button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff; /* Cambia el color del texto a blanco */
}

.dropdown-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #343a40;
  min-width: 160px;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.dropdown-options a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ccc;
  background-color: #343a40;
}


.dropdown:hover .dropdown-options {
  display: block;
  background-color: #343a40;
}

.dropdown-options a.dropdown-item {
  color: #fff;
  background-color: #343a40;
}

.dropdown-options a.dropdown-item:hover {
  background-color: #495057;
}

.form-container {
  align-items: center;
  margin-top: 20px;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check {
  margin-bottom: 10px;
}

.form-check-label {
  margin-left: 25px;
}

.form-actions {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

select.form-control[multiple] {
  height: 150px;
}
